.formBox {
  flex: 0.33;
}

form {
  padding: 16px;
  background: rgba(241, 241, 241, 0.158);
  box-shadow: 0 8px 32px 0 rgba(1, 3, 29, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

form label {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

form input,
form button {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
}

form input {
  height: 30px;
  font-size: 16px;
}

form button {
  background: rgb(48, 16, 230);
  color: rgb(212, 205, 205);
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 350ms ease-in-out;
}

form button:hover {
  background: rgb(27, 0, 179);
}

@media (max-width: 550px) {
  .formBox {
    flex: none;
    margin-bottom: 50px;
  }
}
